<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="icon" href="/img/nuvem.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <p>{{>rodape}}</p>
</body>
</html>