<footer>
    <p>{{textoRodape}}</p></br></br>
    <p>Criado por: Jordhan </br><a href="https://github.com/Bazomga/" target="_blank">GitHub.</a></br><a href="https://github.com/Bazomga/weather-website" target="_blank">Repositório com o projeto.</a></p>
</footer>