<footer>
    <p>{{textoRodape}}</p></br></br>
    <p>Criado por: Jordhan </br><a href="https://github.com/Bazomga/">GitHub.</a></br><a href="https://github.com/Bazomga/weather-website">Repositório com o projeto.</a></p>
</footer>